<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Store</title>
<link rel="stylesheet" th:href="@{/css/AddStoreStyles.css}">
</head>
<body>
<header>
<h1>Add Store</h1>
<p>Fill out the form to add the store details</p>
</header>

<form th:action="@{/addStore}" method="post" th:object="${store}">
Store Name: <input type="text" th:field="*{storeName}" required><br>
Store Address: <input type="text" th:field="*{storeAddress}" required><br>
Opening Hours: <input type="number" th:field="*{storeOpeningHours}" step="0.01"><br>
No. of Employees: <input type="number" th:field="*{noOfEmployees}"><br>
Description: <input type="text" th:field="*{description}"><br>
<input type="submit" value="Add Store">
</form>
<div class="backtoHomeandView">
<a th:href="@{/}">Go back to Home Page</a><br>
<br>
<a th:href="@{/addEmployee}">Go back to Add Employee</a><br>
<br>
<a th:href="@{/viewStores}">Go to View All Employees by Store</a><br>
<br>
<a th:href="@{/viewAll}">Go back to View All Employees & Store</a>
</div>
</body>
</html>
